<%- include('partials/header') %>

<div class="navbar">
  <h1>Earthquake Store</h1>
</div>

<div class="row">
  <div class="col">
    <img src="../images/earth.jpg" class="img-fluid" />
  </div>

  <div class="col">
    <h1>Information</h1>
    <h2>EarthQuake Data from 2015-2019.</h2>
    <h2>From Lower to Higher Magnitude.</h2>
    <h2>Any Region from INDIA.</h2>
  </div>
 
</div>
<div class='tble'>
<div class='box'>
<table>
  <th>ID</th>
  <th>Month</th>
  <th>Year</th>
  <th>Magnitude</th>

<% for(let i=0;i<rows.length;i++){ %>

   <tr>
  <td><%= rows[i].id %></td>
  <td><%= rows[i].month %></td>
  <td><%= rows[i].year %></td>
  <td><%= rows[i].magnitude %></td>
  
  </tr>


  <% } %>

  </table>
</div>
</div>
 <%- include('partials/footer') %>